/*
Awesome Template
http://www.templatemo.com/preview/templatemo_450_awesome
*/

html {
	max-width: 100% ;
	overflow-x: hidden
}

body {
	background: #303030;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	overflow-x: hidden;
	/* prevent horizontal scrollbar from appearing */
}

a {
	color: #47C6F8;
}

a:hover {
	color: #0FF;
}

/* start h2 */
h2 {
	text-align: center;
	font-size: 40px;
	padding-bottom: 40px;
}

h2 span {
	color: #28a7e9;
	font-weight: bold;
}

/* end h2 */

.nav>li>a {
	padding: 10px 10px;
}

/* start sponsors team rules portfolio contact */
#sponsors,
#team,
#rules,
#portfolio,
#contact,
#organizers,
#participants,
#event,
#gallery,
#livestream {
	padding-top: 60px;
	padding-bottom: 40px;
}

/* end sponsors team rules portfolio contact */
#participants {
	background: #d8c6ff;
}

#organizers {
	background: #f391a3;
}

#event {
	background: #dcd052;

}

#event .thumbnail {
	text-align: center
}

#event .thumbnail p {
	font-size: 20px;
	line-height: 1.3
}

#event .thumbnail h3 {
	margin-bottom: 15px;
}

#event .prize {
	margin-top: 40px
}

#event .date-venue .thumbnail {
	background: white;
	min-height: 270px;
}

#event .event-note {
	min-height: 150px !important;
}

#event .register-btn {
	margin-top: 15px;
}

/* start preloader */
.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-wave.sk-spinner {
	width: 50px;
	height: 30px;
	text-align: center;
	font-size: 10px;
}

.sk-spinner-wave div {
	background-color: #333;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
	animation: sk-waveStretchDelay 1.2s infinite ease-in-out;

}

.sk-spinner-wave .sk-rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.sk-spinner-wave .sk-rect3 {
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}

.sk-spinner-wave .sk-rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.sk-spinner-wave .sk-rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-waveStretchDelay {

	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}

	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

@keyframes sk-waveStretchDelay {

	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4);
		transform: scaleY(0.4);
	}

	20% {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}

/* end preloader */

/* start header */
header {
	min-height: 20px;
	padding-top: 18px;
	padding-bottom: 10px;
}

header .fa {
	color: #28a7e9;
}

header span {
	font-weight: bold;
	padding-right: 10px;
	padding-left: 4px;
}

header a {
	color: #999;
	font-weight: 600;
}

header .social-icon {
	text-align: right;
}

header .social-icon li a {
	border: none;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
}

/* end header */

/* start nagivation */
.navbar-default {
	background: #fff;
	border: none;
	box-shadow: none;
	margin: 0 !important;
}

.navbar-default .navbar-brand {
	font-weight: 500;
	font-size: 30px;
	height: 70px;
	line-height: 40px;
	padding: 12px 0px 0px 12px;
}

.navbar-default .navbar-brand img {
	height: 35px;
	display: inline !important;
}

.navbar-default .navbar-brand span {
	font-size: 20px;
}

.navbar-default .navbar-nav li a {
	font-weight: bold;
	font-size: 13px;
	height: 40px;
	line-height: 40px;
}

.navbar-default .navbar-nav>li>a.current {
	color: #28A7E9;
}

.nav {
	margin-top: 5px;
}

.templatemo-nav {
	border-radius: 0;
	width: 100%;
	z-index: 1000;
}

.sticky {
	position: fixed;
	left: 0;
	top: 0;
}

/* end navigation */

.dancing-girl {
	width: 100%;
}

/* start home */
#home {
	background: url('../images/home-bg.jpg') no-repeat;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 720px;
}

#home h1 {
	font-weight: 300;
	font-size: 70px;
	padding-bottom: 10px;
}

#home h1 span {
	color: #d6df2a;
	font-weight: bold;
}

#home .btn {
	background: transparent;
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	width: 180px;
	height: 60px;
	padding-top: 18px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#home .btn:hover {
	background: #28a7e9;
	border-color: transparent;
}

.element {
	height: 60px;
	font-size: 16px;
}

#home .event-name {
	margin-bottom: 20px;
}

#home .event-name h1,
#home .event-name h2,
#home .event-name h5 {
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
	color: #d6df2a;
	text-align: center;
	padding: 0;
	margin: 0;
	text-shadow: 2px 2px #0000005e;
}

#home .event-name h1 span {
	color: #d6df2a;
	letter-spacing: 3px;
	position: relative;
	top: -25px;
	font-size: 35px;
}

#home .event-name h5 {
	color: #FFF;
	margin-top: -8px;
	margin-bottom: 7px;
}

#home .event-name h2 {
	font-size: 25px;
	color: #f90000;
	text-shadow: 3px 1px white;
}

#home .quote {
	font-size: 60px;
	margin-top: 40px;
}

/* end home */

/* start sponsors */
#sponsors {
	background: #1c01c3;
}

#sponsors .media-heading-wrapper h3 {
	font-size: 18px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 52px;
}

#participants .note {
	color: black;
	margin-top: -20px;
	margin-bottom: 25px;
}

.participants-filter .btn {
	margin: 20px;
}

.participants-filter .active {
	border: 2px solid aliceblue;
}

/* end sponsors */

/* start team */
#team .team-wrapper {
	background: #404040;
	padding-bottom: 10px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	position: relative;
}

#team .team-wrapper:hover {
	cursor: pointer;
	opacity: 0.4;
	bottom: 4px;
}

#team .team-wrapper .team-des {
	padding: 20px;
}

.team-wrapper {
	padding: 11px 11px 0px 11px;
	margin-bottom: 30px;
	text-align: center;
	background: white;
	min-height: 334px;
	position: relative
}

.team-des h4 {
	font-size: 15px;
	margin-bottom: 0;
	color: #000000;
	text-transform: capitalize;
}

#team .team-wrapper .team-des span {
	color: #28a7e9;
	display: block;
	font-weight: bold;
	padding-bottom: 12px;
}

/* end team */

/* start rules */

#rules {
	background: #ff01d7c4;
}

#rules .col-md-4 {
	padding: 40px;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#rules .col-md-4:hover {
	background: #505050;
}

#rules .active {
	background: #505050;
	padding: 40px;
}

#rules .fa {
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-size: 50px;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
}

#rules ol>li {
	color: rgb(250, 252, 254);
	padding: 3px;
	font-size: 16px;
}

/* end rules */

/* start portfolio */
#portfolio {
	padding-bottom: 80px;
}

#portfolio .col-md-3 {
	padding: 0px;
}

.portfolio-thumb,
.portfolio-overlay {
	max-width: 450px;
}

#portfolio .portfolio-thumb {
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
}

#portfolio .portfolio-thumb .portfolio-overlay {
	background: #28a7e9;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	padding: 20px 10px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#portfolio .portfolio-thumb .portfolio-overlay h4 {
	font-weight: bold;
	padding-bottom: 10px;
}

#portfolio .portfolio-thumb .portfolio-overlay .btn {
	background: none;
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	font-weight: bold;
}

#portfolio .portfolio-thumb:hover .portfolio-overlay {
	cursor: pointer;
	opacity: 0.8;
}

/* end portfolio */

/* start contact */
#contact {
	background: #202020;
}

#contact .form-control {
	background: transparent;
	border: 1px solid #28a7e9;
	border-radius: 2px;
	box-shadow: none;
	color: #fff;
	margin-top: 6px;
	margin-bottom: 16px;
}

#contact label {
	font-weight: 500;
}

#contact input {
	height: 50px;
}

#contact input[type="submit"] {
	background: #28a7e9;
	font-weight: bold;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
	background: transparent;
}

#contact address {
	border-bottom: 1px solid #505050;
	padding-top: 30px;
}

#contact address .address-title {
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 10px;
}

#contact address span {
	display: block;
	padding-bottom: 30px;
}

#contact address .fa {
	border: 1px solid #fff;
	border-radius: 2px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* end contact */

#livestream {
	background: lightgray;
}



/* start copyright */
#copyright {
	padding: 20px;
}

#copyright p {
	font-weight: 400;
}

/* end copyright */

/* start social icon */
.social-icon {
	position: relative;
	padding: 0;
	margin: 0;
}

.social-icon h4 {
	display: inline-block;
	padding-right: 20px;
}

.social-icon li {
	display: inline-block;
	list-style: none;
}

.social-icon li a {
	border: 1px solid #fff;
	border-radius: 2px;
	color: #fff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	margin-right: 10px;
}

.social-icon li a:hover {
	background: #28a7e9;
	border-color: transparent;
}

/* end social icon */
.profile {
	color: #404040;
	padding: 0 20px
}

.profile h1 {
	color: #28A7E9;
	font-size: 25px;
}

.profile p {
	font-size: 17px;
	padding: 30px;
}

.profile .form-control {
	border: 1px solid #28a7e9;
	border-radius: 2px;
	box-shadow: none;
	color: #000;
	margin-top: 6px;
	margin-bottom: 16px;
}

.profile label {
	font-weight: 500;
}

.profile input,
.profile button {
	height: 50px;
}

.profile input[type="submit"],
.profile button {
	background: #28a7e9 !important;
	font-weight: bold;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.profile input[type="submit"]:disabled {
	background: #eee !important;
}

.profile button.close {
	background-color: white !important;
}

.profile input[type="submit"]:hover,
.profile button::hover {
	background: #115579;
}

.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.left-mobile {
	display: none;
}

.image-container {
	text-align: center;
}

#profile_page .profile_image {
	border-radius: 50%;
	margin: 0 auto;
}

#profile_page .title {
	margin-top: 100px;
	text-align: left;
}

.advertise {
	margin-top: 60px;
}

.advertise img {
	margin: 0 auto;
}

.advertise a {
	min-height: 400px;
	text-align: center;
	/* padding-top: 180px; */
	font-size: 30px;
}

#profile-page {
	margin-top: 50px;
	position: relative;
}

#profile-page .profile-header {
	height: 200px;
	background: linear-gradient(0deg, #f9f295, #ff7f9f)
}

#profile-page .avatar {
	text-align: center;
	position: relative;
	top: 50%;
	margin: 0 auto;
}

#profile-page .avatar img {
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.5);
}

#profile-page .bio {
	text-align: left;
	margin-top: 100px;
}

.contestant-navbar {
	height: 40px;
}

.contestant-navbar.navbar-default .navbar-brand {
	padding :3px 0px 0px 12px;
}

/* #contestant .contestant-header {
	height: 230px;
	background: linear-gradient(0deg, #f9f295, #ff7f9f);
} */

#contestant .avatar {
	text-align: center;
	position: relative;
	top: 50%;
	margin: 0 auto;
}

#contestant .avatar img {
	width: 200px;
	height: 200px;
	max-width: 200px;
	max-height: 200px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 5px solid rgba(255, 255, 255, 0.5);
}

#contestant .container {
	margin-top: -150px;
}

#contestant .contestant-name {
	margin-top: 80px;
	font-size: 41px;
	color: white;
	margin-left: 15px;
	text-transform: capitalize;
}

#contestant .info {
	background: #f8f8f8;
	color: darkslategrey;
	margin-top: 15px;
	border-radius: 5px;
	padding: 0 10px;
	border: 10px solid transparent;
}

#contestant .post {
	background: #f8f8f8;
	color: darkslategrey;
	margin-top: 15px;
	border-radius: 5px;
	border: 10px solid transparent;
	padding: 0 10px 10px 10px;
	height: auto;
}

#contestant .post h4 {
	margin-bottom: 20px;
}

#contestant .profile .form-control {
	margin-bottom: 10px;
}

#contestant .profile input,
.profile button {
	height: 30px;
}

h4.text-center.note {
	margin-bottom: 30px;
	font-size: 25px;
	color: royalblue;
}

.vote-btn {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: royalblue;
	display: inline-block;
	padding-top: 7px;
	border: 2px solid white;
}

.vote-btn .fa-thumbs-up {
	font-size: 20px;
	color: white;
}

.vote-btn-cont {
	position: absolute;
	width: 100%;
	bottom: -20px;
	margin-left: -10px;
}

.title-sponsor-img img {
	background: white;
	height: 300px;
	margin-top: 20px;
	border: 5px solid darkblue;
}

.title-sponsor-img.supporting img {
	height: 200px;
}

.cont-image {
	background-color: black;
	opacity: 0.8;
}

.organiser img {
	height: 180px;
	border: 5px solid #e86b81;
}
.thumbnail .caption {
    color: #1e90ff;
}

.carousel-inner > .item > img {
	margin: 0 auto;
  }

  .whatsapp, .facebook {
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	border: 3px solid #008000;
	border-radius: 50%;
	transition-duration: 0.5s;
	display: inline-block;
  }

  .facebook {
	border: 3px solid #0956b3;
  }

  .whatsapp .fa-whatsapp {
	padding-top: 6px;
    font-size: 30px;
    text-decoration: none;
    color: #008000;
  }

  .facebook .fa-facebook {
	padding-top: 6px;
    font-size: 30px;
    text-decoration: none;
    color: #0956b3;
  }

  .whatsapp:hover {
	background-color: #008000;
  }
  .whatsapp:hover .fa-whatsapp {
	color: #fff;
  }
  

@media only screen and (max-width: 1199px) and (min-width: 992px) {
	#portfolio .portfolio-thumb .portfolio-overlay {
		padding: 0px 8px;
	}
}

/* start 980 media quires */
@media only screen and (max-width: 980px) {
	#team .team-wrapper {
		margin-top: 40px;
	}

	#portfolio .portfolio-thumb .portfolio-overlay {
		background: #28a7e9;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		position: absolute;
		padding: 40px 10px 20px 20px;
		-webkit-transition: all 0.4s ease-in-out;
		transition: all 0.4s ease-in-out;
	}

}

/* end 360 media quires */

/* start 768 media quires */
@media only screen and (max-width: 767px) {
	body {
        overflow-x: hidden !important;
    }
	.navbar-brand {
		font-size: 25px;
	}

	#home {
		min-height: 800px;
		padding-top: 80px;
		padding-bottom: 60px;
	}

	#home h1 {
		font-size: 50px;
		line-height: 1.2;
	}

	.templatemo-nav {
		position: fixed;
		top: 0;
	}

	header {
		margin-top: 70px;
	}

	header .social-icon {
		text-align: left;
	}

	.navbar-toggle {
		margin-top: 15px;
	}

	.navbar-collapse {
		max-height: 300px;
		overflow-y: auto;
	}

	.navbar-default .navbar-nav li a {
		height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 35px;
	}

	.dancing-girl {
		width: 40%;
	}

	.left-mobile {
		display: inline-block;
	}

	.left-girl {
		display: none;
	}

	#home .event-name h1 span {
		color: #d6df2a;
		letter-spacing: 3px;
		position: relative;
		top: -18px;
		font-size: 25px;
	}

	#home .event-name h2 {
		font-size: 16px;
		margin-top: 20px;
	}

	#home .event-name h5 {
		color: #FFF;
		margin-top: -5px;
		margin-bottom: 7px;
		font-size: 10px;
	}

	#home .quote {
		font-size: 40px;
		margin-top: 35px;
	}

	#contestant .avatar {
		text-align: center
	}

	#contestant .contestant-name {
		margin-top: 10px;
		text-align: center;
		font-size: 28px;
	}

	.title-sponsor-img img {
		height: 250px
	}

	.title-sponsor-img.supporting img {
		height: 170px;
	}

	.supporting-cont .col-xs-6 {
		min-height: 220px;
	}

	.event-name h2 strong {
		display: block;
		font-size: 22px;
	}

	.supporting-cont h4 {
		font-size: 20px;
	}

	.title-sponsor-img.organiser img{
		height: 150px;
	}

	#organizers h3{
		font-size :20px;
	}

	.vote-btn {
		top: 18px;
	}

	.team-wrapper {
		min-height: 250px
	}

	#event .date-venue .thumbnail {
		min-height: 200px;
	}
}

/* end 768 media quires */

/* start 360 media quires */
@media only screen and (max-width: 360px) {
	
	header .social-icon {
		text-align: left;
	}

	#home {
		min-height: 800px;
		padding-top: 60px;
		padding-bottom: 40px;
	}

	#home h1 {
		font-size: 60px;
	}

	.navbar-brand {
		font-size: 25px !important;
	}

	#home .event-name {
		margin-top: 30px;
	}
	#home .event-name h1 {
		font-size : 40px;
	}

	#home .event-name h1 span{
		top: -15px;
		font-size: 21px;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  { 
	.navbar-default .navbar-nav li a{
		font-size: 10px;
	}

	.navbar-brand span {
		display: none;
	}

	.nav>li>a {
		padding: 10px 5px;
	}

	.dancing-girl.left-girl {
		display: none;
	}

	.dancing-girl {
		width: 30%;
	}
}


/* end 360 media quires */